@font-face {
  font-family: 'SouthPark';
  src: local('SouthPark'), url(../src/assets/fonts/southpark.ttf) format('woff');
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.logo > img {
  height: 80px;
  width: 250px;
}

.generate {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 450px;
}

.generate > div {
  margin: 0 auto;
  flex: 50%;
}
